<div class="Top_page">
  <h1 class="main_title">ようこそ Bookers へ！</h1>
  <div class="body_page">
      <p class="body_string"><span class="Book_title">Bookers</span>では、さまざまな書籍に関するあなたの意見や<br />
      印象を共有し交換することができます</p>
      <div class="link">
       <%= link_to 'start', books_path %>
      </div>

  </div>

</div>
