// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
.Top_page{
  margin: 33px;
}

.body_page{
  margin: 33px;
}
.body_string{
  line-height: 4;
}

.Book_title{
  font-weight: bold;
}
.link{
  color: gray;
  text-decoration: none;
}
.link:hover{
  color: #fff;
  background-color: black;
}